<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MerchantPayload</key>
	<string>KTIzOTI7ND0yOzN3a21ibGtoYm5jY2Nqam5jY2xqbQ==</string>
	<key>ClientSignaturePayload</key>
	<string>aWs/bzs+YzlvPjxvbmNtPjk+ODhpY2hiajtsb2s5aTxraGJpaGw4OWs4Oz5pOGs8ajxjPDtpYm47PGg8aTloOA==</string>
</dict>
</plist>
